// ## Colors

// ### Primary

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

// ### Neutral

$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);


$colors : ( // 
  // ### Primary
  "p-blue-900": $Marine-blue,
  "p-blue-400": $Purplish-blue,
  "p-blue-200": $Pastel-blue,
  "p-blue-100": $Light-blue,
  "p-red-500": $Strawberry-red,
  // ### Neutral
  "n-gray-400": $Cool-gray,
  "n-gray-200": $Light-gray,
  "n-magnolia-100": $Magnolia,
  "n-alabaster-100": $Alabaster,
  "n-white-100": $White,
);

// ## Typography

// ### Font family

$font-family : "Ubuntu";

// ### Font sizes

$font-sizes: (
  "fs-100": clamp(0.51rem, -0.14vw + 0.55rem, 0.42rem),
  "fs-200": clamp(0.64rem, -0.12vw + 0.67rem, 0.56rem),
  "fs-300": clamp(0.8rem, -0.08vw + 0.82rem, 0.75rem),
  "fs-400": clamp(1rem, 0vw + 1rem, 1rem),
  "fs-500": clamp(1.25rem, 0.13vw + 1.22rem, 1.33rem),
  "fs-600": clamp(1.56rem, 0.33vw + 1.48rem, 1.78rem),
  "fs-700": clamp(1.95rem, 0.64vw + 1.79rem, 2.37rem),
  "fs-800": clamp(2.44rem, 1.1vw + 2.17rem, 3.16rem),
  "fs-900": clamp(3.05rem, 1.78vw + 2.61rem, 4.21rem),
);

// ### Font weights

$font-weights: (
  "fw-bold": 700,
  "fw-medium": 500,
  "fw-regular": 400,
);

// ### Break Points

$breakpoints: (
  'breakpoint-small': 767px,
  'breakpoint-medium': 992px,
  'breakpoint-large': 1200px,
);