.container {
  --_max-width: 1440px;
  width: min(var(--_max-width), 100% - var(--container-padding-x, 1em));
  margin-inline: auto;
}

.container--full-center {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}