a.skip-home-link {
  position: absolute;
  border: 2px solid var(--clr-p-500-sb);
  border-radius: 5px;
  padding: 1em 1.5em;
  margin: .5em;
  font-size: var(--fs-p-300);
  cursor: pointer;
  z-index: -2000;
  transform: translateY(-150%);
  transition: transform 250ms ease-in;
}

a.skip-home-link:focus,
a.skip-home-link:active {
  z-index: 2000;
  transform: translateY(0%);
}