.form-wrapper {
  --_fw-max-width: 940px;
  --_fw-border-radius: 15px;
  --_fw-padding-x: 1em;
  --_fw-padding-y: 1em;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: var(--_fw-max-width);
  padding-inline: var(--_fw-padding-x);
  padding-block: var(--_fw-padding-y);
  border-radius: var(--_fw-border-radius);
  background-color: var(--clr-n-white-100);

  &__steps-panel {
    max-width: 270px;
    width: 33%;
  }

  &__steps-list {
    background-color: #483eff;
    border-radius: calc(var(--_fw-border-radius)/2);
  }

  &__form {
    width: 66%;
  }
}

*:focus,
input:focus-within {
  outline: none;
}

*:focus-visible {
  outline: 3px dashed red;
  outline-offset: 2px;
}