@use "../abstracts/mixins" as *;

.form {
  $form-max-width: 450px;
  --_form-input-max-width: #{$form-max-width};
  --_form-inner-background-color: var(--clr-n-white-100);
  --_form-step-padding: 1em;
  --_form-title-fs: calc(var(--fs-600) + .2rem);
  --_form-body-fs: var(--fs-400);
  --_form-title-color: var(--clr-p-blue-900);
  --_form-body-color: var(--clr-n-gray-400);
  background-color: var(--_w-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;


  &__step {
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__step-header {
    padding: 0;
    border: 0;
  }

  &__title {
    margin-top: 1.1em;
    font-size: var(--_form-title-fs);
    color: var(--_form-title-color);

    @include mq(mobile-sm, up) {
      margin-top: 0;
    }
  }

  &__body {
    font-size: var(--_form-body-fs);
    color: var(--_form-body-color);
    margin-bottom: 1em;
  }

  &__input-container {
    --_flow-spacer: 1.2em;
    display: block;
  }

  &__input-container {
    display: block;
  }

  &__inputs,
  &__cta-group {
    width: 100%;
    max-width: var(--_form-input-max-width);
    margin-inline: auto;
    background-color: var(--_form-inner-background-color);
  }

  &__inputs {
    border-radius: calc(var(--_w-border-radius) / 2);

    @include mq(tablet, up) {
      padding: var(--_form-step-padding);
      transform: translateY(calc(-1*(var(--_w-side-panel-min-height)/2.5)));
      box-shadow: var(--clr-n-gray-400) 0px 8px 24px;
    }

    @include custom-mq($form-max-width, max) {
      width: calc(100% - var(--_form-step-padding)*1.5);
    }
  }

  &__cta-group {
    display: flex;
    justify-content: space-between;
    padding-block: 1em;

    @include mq(tablet, up) {
      padding-inline: 1em;
      --_form-input-max-width: none;
    }
  }

  &__input:focus {
    outline: 1px solid var(--_input-border-color-focus);
  }
}