.input {
  --_input-error-color: var(--clr-p-red-500);
  --_input-label-color: var(--clr-p-blue-900);
  --_input-label-fs: calc(var(--fs-300) + .1rem);
  --_input-border-color: var(--clr-n-gray-200);
  --_input-border-color-focus: var(--clr-p-blue-400);
  --_input-border-radius: calc(var(--_w-border-radius)/2);
  --_input-placeholder-color: var(--clr-n-gray-400);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  &__error {
    justify-self: end;
    color: var(--_input-error-color);
    font-weight: var(--fw-bold);
  }

  &__label {
    color: var(--_input-label-color);
    font-weight: var(--fw-medium);
  }

  &__label,
  &__error {
    font-size: var(--_input-label-fs);
    margin-bottom: .30em;
  }

  &__text-field {
    grid-column: 1/-1;
    text-indent: .8em;
    padding-block: .75em;
    border: 1px solid var(--_input-border-color);
    border-radius: var(--_input-border-radius);
    transition: all 250ms ease;
  }


  &__text-field::placeholder {
    font-weight: var(--fw-medium);
    color: var(--_input-placeholder-color);
  }
}