@use "../abstracts/mixins" as *;

.side-panel {
  --_sp-background-color: var(--clr-p-blue-400);
  position: relative;
  border-radius: calc(var(--_w-border-radius)/2);
  user-select: none;
  isolation: isolate;
  overflow: hidden;

  @include mq(tablet, up) {
    border-radius: 0;
    min-height: var(--_w-side-panel-min-height);
  }

  &__svg {
    position: absolute;
    inset: 0;
    // full-back if svg is not loaded
    background-color: var(--_sp-background-color);
    z-index: -1;
  }
}