@use '../abstracts/mixins' as *;

.Wrapper {
  --_w-padding-x: 1em;
  --_w-padding-y: 1em;
  --_side-panel-desktop-width: 275px;
  --_side-panel-mobile-height: 174px;
  --_w-border-radius: 15px;
  background-color: var(--clr-n-white-100);
  border-radius: var(--_w-border-radius);
  width: 100%;
  max-width: 940px;
  height: 600px;
  padding-inline: var(--_w-padding-x);
  padding-block: var(--_w-padding-x);
  display: grid;
  grid-template-columns: var(--_side-panel-desktop-width) auto;
  gap: 0 1em;
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

  @include mq(tablet, up) {
    --_w-padding-x: 0;
    --_w-padding-y: 0;
    height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: var(--_side-panel-mobile-height) auto;
    border-radius: 0;
  }

  &__side-panel {
    padding-left: 2em;
    padding-top: 2.1em;
    user-select: none;
    border-radius: calc(var(--_w-border-radius)/2);
    // backup color 
    background-color: var(--clr-p-blue-400);
    position: relative;
    isolation: isolate;
    overflow: hidden;


    @include mq(tablet, up) {
      padding-left: 0;
      display: flex;
      justify-content: center;
      border-radius: 0;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url("../assets/images/bg-sidebar-desktop.svg");

      @include mq(tablet, up) {
        background-image: url("../assets/images/bg-sidebar-mobile.svg");
      }

      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    .StepsList {
      @include mq(tablet, up) {
        display: flex;
        gap: 1em;
      }
    }
  }

  &__form-container {
    background-color: var(--clr-n-white-100);

    @include mq(tablet, up) {
      background-color: var(--clr-n-magnolia-100);
    }
  }
}